html, body {
  height: 0px;
  margin: 0;
  padding: 0;
  background-color: grey;
  font-family:monospace
}
h1 {
  font-size: 70px;
  position: relative;
  color: transparent;
  text-align: center;
  -webkit-text-stroke: 1px green;
}
p{
  color: #333;
  display: flex;
  margin: auto;
  width: 200px;
  font-size: 12px;
  margin-top: 10px;
}

a{
  color: black;
  margin-left: 10px;
}


button{
  font-weight: 800;
  color: #0c9429;
  font-size: 14px;
  padding: 10px;
  font-family:monospace;
  margin: 20px;
  background-color: transparent;
  animation: glowAnimation 3s infinite;
}

.buttons{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: auto;
}

.sliders{
  height: 100%;
  width: 100%;

}
        /* Customize the sliders */
        input[type="range"] {
          /* Remove default track styles */
          -webkit-appearance: none;
          appearance: none;
          width: 100%;
          height: 12px;
          border-radius: 5px;
          background-color: transparent;
          outline: none;
          margin: 5px 0;
      }

      /* Customize the slider track */
      input[type="range"]::-webkit-slider-runnable-track {
          width: 20px;
          height: 30px;
          border-radius: 5px;
          border: 1px solid #ccc;
          margin-left: 5%;
      }

      /* Customize the slider thumb (handle) */
      input[type="range"]::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 20px;
          height: 20px;
          background: #4CAF50;
          cursor: pointer;
          border: 1px solid #ccc;
          margin-top: 3px;
      }

      /* Customize the slider thumb when dragging */
      input[type="range"]:active::-webkit-slider-thumb {
          background: #45a049;
      }

.rowSlider,
.columnSlider{
  margin-top: 50px;
  padding: 20px;
  display: flex;
  width: 300px;
  margin: auto;

}

label{
  font-weight: 800;
  color: #0c9429;
  font-size: 24px;
  display: flex;
  width: 20%;
  margin-left: 20%;
  justify-content: flex-end;
}

.background-grid {
  --grid-rows: 2;
  --grid-cols: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; 
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr); 
  z-index: -1;
}
.background-item-left{
  padding: 0;
  width: 100%;
  height: 200%;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  transition: background-color 6s ease; 

}

.background-item {
  padding: 0;
  width: 100%;
  height: 200%;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  transition: background-color 6s ease; 

}

#container {
  margin: 0px 0px 0px 50.5%;
  width: 49vw;
  height: 97vh;
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr); 
  flex: wrap;
  gap: 1px;
  overflow: hidden;
}

.grid-item {

  border: 1px solid black;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 5px;
  padding: 1;
}

.grid-item {
  height: 100%;
  width: 100%;
}

.grid-item.hovered {
  background-color: blue;
  color: white;
}

.grid-item.hovered.randomColor {
  background-color: blue;
  color: white;
}

.glow {
  animation: glowAnimation 1s infinite;
}

@keyframes glowAnimation {
  0% {
      box-shadow: 0 0 5px #ff0000;
  }
  50% {
      box-shadow: 0 0 20px #382121;
  }
  100% {
      box-shadow: 0 0 5px #0c9429;
  }
}